<h4>Seu diário de estudos!!</h4><br/>

<%= link_to 'Cadastrar Item', new_study_item_path, class:"btn btn-default" %><br/><br/>
<%= link_to 'Ver Itens Cadastrados', study_items_all_path, class:"btn btn-default" %><br/><br/>
<%= link_to 'Pesquisar Item'  %><br/><br/>




 
 


