<% if flash[:notice] %>
  <div class= "alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>

<p>Seu diário de estudos!</p><br/>

<%= link_to 'Cadastrar Item', new_study_item_path, class:"btn btn-primary" %><br/><br/>
<%= link_to 'Ver Itens Cadastrados', study_items_all_path, class:"btn btn-primary" %><br/><br/>




 
 


