<h2>Resultados encontrados...</h2>

<table class= "table table-bordered">
<tbody>
  <thead>
    <tr>
      <th>Título</th>
      <th>Categoria</th>
      <th>Descrição</th>
      <th>Status</th>
    </tr>
  </thead>
<tbody>
  <%= render partial: "study_item" %>
</tbody>
</table>

<br/><br/>
<div class= "d-grid gap2 d-md-flex justify-content-md-end">
  <%= link_to 'Voltar', study_items_all_path, class: "btn btn-primary" %>
 </div>